        <nav class="navbar sticky-top navbar-expand-lg navbar-light main-menu">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div style="width:100%;">
                        <ul class="navbar-nav pull-left">
                            <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                                <a class="nav-link" [routerLink]="['/addword']"> Add new word </a>
                            </li>
                        </ul>
                    </div>
                </div>
        </nav>
